.nav-link {
  margin: 1em;
  background-color: rgb(39, 190, 228);
  width: 100%
}

#login-form {
  margin: 1em;
}

#create-form {
  margin: 1em;
}

.select {
  width: 20em;
}

.input-text {
  margin: 0em 0.5em 1em;
}