.nav-link {
  margin: 1rem;
}

#login-form {
  margin: 1rem;
}

#create-form {
  margin: 1rem;
}

.select {
  width: 20rem;
}

.input-text {
  margin: 0rem 0.5rem 1rem;
}

#body {
  margin: 1rem;
}

#subjects-container {
  margin: 1rem 0rem;
  border: rgb(155, 155, 155) solid 5px;
}

.subject-button {
  margin: 0px 5px 0px 0px;
  width: 10em;
  height: 2em;
}