.errors {
  color: red;
  list-style-type: none;
  font-size: 12px;
}

.nav-link {
  background-color: rgb(39, 190, 228);
  height: 2em;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  font-weight: 500;
  margin: 1em;
  vertical-align: middle;
  text-decoration: none;
}





/* login and create user page */
#login-form {
  color: rgb(39, 190, 228);
  font-weight: 500;
  margin: 2em;
  padding: 2em;
  border: rgb(39, 190, 228) solid 0.125em;
  border-radius: 2em;
  width: 40em;
}

#create-form {
  color: rgb(39, 190, 228);
  font-weight: 500;
  margin: 2em;
  padding: 2em;
  border: rgb(39, 190, 228) solid 0.125em;
  border-radius: 2em;
  width: 40em;
}

.select {
  width: 20em;
}

.input-text {
  margin: 0em 0em 1em;
  opacity: 50%;
}

.form-submit {
  width: 7em;
  height: 2em;
  background-color: rgb(39, 190, 228);
  color: rgb(255,255, 255);
  border: rgb(39, 190, 228) solid 0.125em;
  border-radius: 5px;
}

.form-submit:hover {
  background-color: rgb(88, 209, 240);
  border: rgb(88, 209, 240);
}

.form-submit:active {
  background-color: rgb(13, 158, 194);
  border: none;
}





/*  */
#body {
  margin: 1em;
}

#subjects-container {
  margin: 1em 0em 0em 0em;
  border-bottom: rgb(155, 155, 155) solid 0.5em;
  text-align: center;
  padding: 1em;
}

.subject-button {
  margin: 0px 5px 0px 0px;
  width: 10em;
  height: 2em;
}

.lecture-button {
  margin: 0em 0.5em;
  width: 10em;
  height: 4em;
}

.lecture {
  margin: 0.5em 0em;
}

#lectures-container {
  display: flex;
  background-color: rgb(200, 200, 200);
  text-align: center;
  padding: 1em;
  min-height: 30em;
}

.session-button {
  width: 13em;
  height: 3em;
  margin: 0.5em;
}

#lecture {
  background-color: rgb(255, 255, 255);
  width: 35em;
  margin: 0.5em;
  width: 40%;
}

#class-lecture {
  background-color: rgb(255, 255, 255);
  width: 35em;
  margin: 0.5em;
  width: 40%;
}