.nav-link {
  margin: 1em;
}

#login-form {
  margin: 1em;
}

#create-form {
  margin: 1em;
}

.select {
  width: 20em;
}

.input-text {
  margin: 0em 0.5em 1em;
}

#body {
  margin: 1em;
}

#subjects-container {
  margin: 1em 0em;
  border: rgb(155, 155, 155) solid 5px;
  width: 50em;
  text-align: center;
  padding: 1em;
}

.subject-button {
  margin: 0px 5px 0px 0px;
  width: 10em;
  height: 2em;
}

.lecture-button {
  margin: 0px 5px;
  width: 10em;
  height: 4em;
}

.lecture {
  margin: 0.5em;
}

#lectures-container {
  margin: 1em 0em;
  background-color: rgb(200, 200, 200);
  width: 20em;
  text-align: center;
  padding: 1em;
  min-height: 30em;
}

.session-button {
  width: 18em;
  height: 3em;
}